h1 Hello #{firstName} #{lastName}
p.
    Welcome to My VoxClip  email template! Now your test emails will be safe. We just need to make sure your account is real. 
    Please, click the button below and start using your account. 
    This will handle different calls e.g video download 
a(href='https://example.com/confirmation') Videolink!